* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
	text-align: center;
	font-size: 1em;
	background-color: #B0CDFF;
	font-family: 'Open Sans', serif;
	/*#03256C, #B0CDFF*/
}


h1 {
	color: #135CDB;
	text-transform: uppercase;
	/*font-size: 3em;*/
	/*#447bdc, #03256C*/
}

h3 {
	color: #135CDB;
}

p {
	margin: 20 auto;
}

.question {
	color: #135CDB;
}

.answer {
	color: #EF4A63;
}

#container {
	max-width: 1200px;
	margin: 0 auto;
}

#nav {
	position: fixed;
	top: 300;
	left: 0;
	width: 200px;
	height: 100px;
	background: #383F51;
	/*#808D8E, #223843, #2F4858 */
	text-align: center;
	overflow: auto;
}

#navhead {
	position: relative;
	top: 10px;
	left: 10px;
	width: 180px;
	background: #ffffff;
	color: #383F51;
	font-weight: bold;
}

#links {
	clear: left;
	position: relative;
	top: 15px;
	overflow: auto;
}

.navlink {
	color: #ffffff;
}

.section {
	/*border: 2px solid blue;*/
	background: #ffffff;
	overflow: auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.box {
	float: center;
	display: inline-block;
	width: 500px;
	border: 2px solid green;
	margin: 20px auto;
	padding: 20px auto;
	overflow: auto;
}

#imgbox {
	border: 2px solid red;
	display: inline-block;
	position: relative;
	top: -450px;
	width: 250px;
	overflow-y: auto;
}


/*https://jsfiddle.net/livibetter/HV9HM/*/
#sticky {
    padding: 0.5ex;
    width: 600px;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    border-radius: 0.5ex;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}

